<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style>
    body
    {
      background-color: lightblue;
    }
    </style>
  </head>
  <div class="jumbotron">
    <h1>Welcome to the World!</h1>
    <h2>Lets Explore!! C'MON YALL!!</h2>
  </div>
  <div>
    <a href="/world/cities">See all of the CITIES!!</a><br>
    <a href="/world/countries">See all the Countries in the WORLD!</a>
  </div>
